/* 购物车整体样式 */
.cart{
  height: 420px;
  margin-bottom: 20px;
  position: fixed;
  right: 0.1%;
  width: 40px;
  z-index: 250;
  top: 50%;
  margin-top: -210px;
}

/* 绿色占位符样式 */
.placeHolderDiv{
  height: 334px;
  position: relative;
  background-color: aquamarine
}

/* 购物车样式 */
.shopCart{
  cursor: pointer;
  width: 40px;
  height: 86px;
  background:red;
  border-radius: 2px 0px 0px 2px;
}

/* 添加按钮样式 */
.addBtn{
  position: fixed;
  left: 1000px;
  top: 650px;
}

/* 飞行物体样式 */
.flag{
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  position: fixed;
  left: 729px;
  top: 630px;
  z-index: 100px;
  background-image: url(./logo.png);
}
